.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: "Tahoma";
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginForm > h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.loginForm > input{
    min-width: 380px;
    padding: 20px 0;
    outline: none;
    border: 1px solid black;
    font-family: "Inter";
    border-radius: 2px;
    font-size: 15px;
}

.submit_btn{
    padding: 17px 30px;
    margin-top: 10px;
    background:black;
    border: none;
    color: white;
    font-size: 14px;
    font-family: "Inter";
    border-radius: 3px;
}